<style>
   body {
    background: #333; /* Цвет фона */
    color: #8B0000; /* Цвет текста */
   }
   body .btn-flat {
       color: #8B0000;
   }
  </style>
        <div class="head">
            <h1>Home page</h1>
            <a class="btn-flat" href="/courses">Our courses</a>
        </div>
